
.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.asteriskField {
    display: none;
}

.small-form {
    max-width: 400px;
}

.centered {
    justify-content: center;
    text-align: center;
}

.navbar {
    border-bottom: 1px solid #ddd;
}

.nav-sidetabs {
    height: 100%;
    border-right: 1px solid #ddd;
    padding-top: 1em;
    border-bottom: #fff;
    min-height: 90vh;
}

.nav-tabs.nav-sidetabs .nav-link.active {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #fff;
    box-shadow: 2px 0 0 0 white;
}

.footer {
    margin-top: auto;
    background-color: #495057;
    line-height: 1.5;
}

.footer a {
    color: inherit;
    opacity: 0.7;
}
